.body-container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 0 auto;
    color: white;
    font-family: "Montserrat", "Arial", sans-serif;
}

.page-header {
    position: absolute;
    width: 320px;
    min-height: 135px;
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}

.main-nav__desktop,
.main-nav__upper-block {
    display: none;
}

.main-nav__logo-wrapper {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding-top: 31px;
    padding-bottom: 26px;
}

.main-nav__logo {
    width: 130px;
}

.main-nav__text {
    width: 130px;
    margin: 0;

    font-size: 14px;
    line-height: 16px;
}

.main-nav__toggler {
    width: 24px;
    height: 15px;
    padding: 0;
    align-self: center;

    background-color: transparent;
    border: 0;
}

.main-nav__burger {
    position: relative;
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
}

.main-nav__burger::before {
    content: "";
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
    top: -5px;
}

.main-nav__burger::after {
    content: "";
    position: absolute;
    display: block;
    width: 24px;
    height: 3px;
    background-color: white;
    top: 5px;
}

.main-nav__menu-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-nav__list {
    display: none;
}

.main-nav__phone {
    margin: 0;
    margin-left: auto;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

.main-nav__phone span {
    color: #50b1d7;
}

.main-nav__phone span:hover,
.main-nav__phone span:focus {
    color: #ffe640;
}

.site-list {
    z-index: 1;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    color: black;

    margin: 0;
    padding: 0 30px;
    width: 244px;
}

.site-list__button {
    display: flex;
    justify-content: flex-end;
    padding-top: 22px;
}

.site-list__button a {
    position: relative;
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.site-list__button a::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 3px;
    top: 7px;
    left: 0px;
    transform: rotate(45deg);
    background-color: #555555;
}

.site-list__button a::after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 3px;
    top: 7px;
    left: 0px;
    transform: rotate(-45deg);
    background-color: #555555;
}

.site-list__item {
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    margin-bottom: 29px;
}

.site-list__item a {
    text-decoration: none;
    color: black;
}

.site-list__text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 25px;
}

.site-list__text a {
    color: #5cb6da;
    text-decoration: none;
    border-bottom: 1px dotted #5cb6da;
}

.site-list__text a:hover,
.site-list__text a:focus,
.upper-block__text--color-blue a:hover,
.upper-block__text--color-blue a:focus,
.desktop-list__item a:hover,
.desktop-list__item a:focus,
.site-list__item a:hover,
.site-list__item a:focus {
    color: #ffe640;
}

.upper-block__text--color-blue a:hover,
.upper-block__text--color-blue a:focus {
    border-bottom: 1px dotted #ffe640;
}

.site-list__whatsapp-button {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    font-weight: 600;
    background-color: #313131;
    border-radius: 15px;
    cursor: pointer;
}

.site-list__whatsapp-button:hover,
.site-list__whatsapp-button:focus {
    background-color: #484848;
}

.site-list__whatsapp-button a {
    color: white;
    text-decoration: none;
}

.site-list__whatsapp-button span {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;
    padding-right: 5px;
}

.landing-block {
    min-height: 641px;
    padding-top: 135px;
    display: flex;
    flex-direction: column;

    background-image: url("../img/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.landing-block__title {
    padding: 0 15px;
    margin-top: 59px;
    margin-bottom: 23px;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 800;
    color: #ffe640;
}

.landing-block__text {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    width: 198px;
    margin: 0 auto;
    margin-bottom: 49px;
}

.landing-block__side-text {
    padding: 0 15px;
    margin: 0;
    margin-bottom: 29px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.landing-block__form {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.form__input-wrapper {
    display: flex;
    flex-direction: column;
}

.form__input {
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 14px;
    line-height: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    margin-bottom: 19px;
    padding-left: 24px;
}

.form__input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.form__input:focus {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 5px 1px #50b1d7;
}

.form__input--tel {
    margin-bottom: 25px;
}

.form__input:invalid {
    border: 2px solid #835f79;
}

input.form__input::-webkit-input-placeholder {
    color: white;
    opacity: 0.4;
}

input.form__input::-moz-placeholder {
    color: white;
    opacity: 0.4;
}

input.form__input:-moz-placeholder {
    color: white;
    opacity: 0.4;
}

input.form__input:-ms-input-placeholder {
    color: white;
    opacity: 0.4;
}

input.form__input:hover::-webkit-input-placeholder {
    opacity: 1;
}

input.form__input:hover::-moz-placeholder {
    opacity: 1;
}

input.form__input:hover:-moz-placeholder {
    opacity: 1;
}

input.form__input:hover:-ms-input-placeholder {
    opacity: 1;
}

.form__label {
    position: relative;
    padding-left: 32px;
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 26px;
}

.form__link {
    color: #50b1d7;
}

.form__checkbox {
    display: none;
}

.form__label span {
    display: block;
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 5px;
}

.form__checkbox:checked+span {
    display: block;
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 5px;
}

.form__checkbox:checked+span::before {
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    background-color: #50b1d7;
    border-radius: 3px;
}

.form__button {
    display: block;
    width: 100%;
    height: 58px;
    color: white;
    background-color: #50b1d7;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    font-size: 16px;
    line-height: 58px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 88px;
}

.form__button:hover,
.form__button:focus {
    background-color: #ffe640;
    color: black;
}

.modal-window {
    font-family: "Montserrat", "Arial", sans-serif;
    width: 290px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #49add4;
    border-radius: 15px;
    color: white;
    min-height: 623px;

    display: flex;
    flex-direction: column;
    display: none;
}

.modal-window__title {
    margin: 0 auto;
    margin-top: 58px;
    margin-bottom: 27px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    text-align: center;
    width: 235px;
}

.modal-window__text {
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 28px;
    text-align: center;
}

.form__input--margin {
    margin-bottom: 23px;
}

.form__label--modal {
    display: block;
    font-size: 12px;
    line-height: 16px;
}

.form__link--modal {
    color: white;
}

.form__button--modal {
    background-color: #313131;
    margin: 0 auto;
    margin-bottom: 27px;
    height: 62px;
}

.form__invalid-text {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 38px;
    display: none;
}

.modal-window__success {
    display: none;
    min-height: 322px;
    
    background-image: url("../img/tick.png");
    background-repeat: no-repeat;
    background-position: 50% 90%;
}

@media (min-width: 768px) {
    .body-container {
        max-width: 768px;
    }

    .page-header {
        width: 768px;
        min-height: auto;
    }

    .main-nav {
        padding: 0 40px;
        align-items: center;
    }

    .main-nav__logo-wrapper {
        order: 1;
        width: 270px;
        margin-left: 30px;
        padding-top: 38px;
    }

    .main-nav__text {
        font-size: 12px;
    }

    .main-nav__phone {
        order: 3;
        font-size: 30px;
        line-height: 48px;
    }

    .landing-block {
        min-height: 374px;
        padding-top: 100px;

        background-image: url("../img/background-image-tablet.jpg");
        background-size: 100% 100%;
    }

    .landing-block__title {
        margin: 0;
        font-size: 40px;
        line-height: 90px;
    }

    .landing-block__text {
        width: auto;
        font-size: 21px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .landing-block__side-text {
        margin-bottom: 25px;
    }

    .landing-block__form {
        padding: 0 40px;
    }

    .form__input-wrapper {
        flex-direction: row;
    }

    .form__input {
        width: 50%;
    }

    .form__input--name {
        margin-right: 30px;
    }

    .form__label {
        margin-bottom: 31px;
        align-self: center;
    }

    .form__button {
        width: 330px;
        align-self: center;
        margin-bottom: 52px;
    }

    .modal-window {
        width: 513px;
        padding-left: 46px;
        padding-right: 41px;
    }

    .modal-window__text {
        width: 305px;
        align-self: center;
    }

    .form__input-wrapper--modal {
        flex-direction: column;
    }

    .form__input--modal {
        width: 100%;
    }

    .modal-window__title {
        width: 290px;
    }

    .form__button--modal {
        margin-bottom: 27px;
    }
}

@media (min-width: 1290px) {
    .body-container {
        max-width: 1920px;
    }

    .page-header {
        width: 1290px;
        align-self: center;
    }

    .main-nav {
        padding: 0;
    }

    .main-nav__toggler {
        display: none;
    }

    .main-nav__logo-wrapper {
        order: -1;
        padding: 0;
        margin: 0;
    }

    .upper-block {
        order: -2;
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        width: 1290px;
    }

    .upper-block__text {
        font-size: 12px;
        line-height: 84px;
    }

    .upper-block__text--color-white a {
        text-decoration: none;
        color: white;
        font-weight: 600;
    }

    .upper-block__text--color-blue a {
        text-decoration: none;
        font-weight: 600;
        color: #50b1d7;
        border-bottom: 1px dotted #50b1d7;
    }

    .desktop-list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        width: 630px;
    }

    .desktop-list a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
    }

    .landing-block {
        padding-top: 230px;
        min-height: 570px;

        background-image: url("../img/background-image-desktop.jpg");
    }

    .landing-block__title {
        font-size: 64px;
    }

    .landing-block__text {
        font-size: 40px;
        line-height: 56px;
        margin-bottom: 84px;
    }

    .landing-block__side-text {
        font-size: 18px;
    }

    .landing-block__form {
        width: 847px;
        align-self: center;
    }

    .form__button {
        height: 70px;
    }

    .form__button--modal {
        margin-bottom: 27px;
        height: 62px;
    }

}